.container {
    background-image: url('ISHLOGO.png');
    background-color: rgb(85, 7, 116);
    background-size: 1000px 1000px;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 10px;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

th {
    border-style: groove;
    background-color: #a054ac;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    /*border: 2px solid #000000;*/
    position: sticky;
    top: 0;
}

td {
    /*border: 1.2px solid #000000;*/
    color: white;
    padding: 8px;
}
td:not(:has(a)) {
  visibility: hidden;
}

tr:nth-child(even) {background-color: #a054ac;}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#matriz a {
  color: #ffffff; /* Define a cor dos links usando um valor hexadecimal */
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;

}

#matriz a:hover {
    color: #000000;
    transition: 0.5s;
  }

.wrapper.two {
  font-family: 'Courier New', Courier, monospace;
}
.neon h1 {
  margin: 20px auto;
  animation: neon 1s ease infinite;
}
@keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
      color: #f5efcb;
  }
  50% {
      text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
      color: #eda0d3;
  }
}
